.icon-music {
    background-image: url(/assets/icons/102.32-man150806163025.png);
    background-position: -515px -50px;
    _background-image: url(/assets/icons/102.ie6-man150806163025.png);
    _background-position: -509px -50px
}

.icon-logout {
    background-image: url(/assets/icons/102.32-man150806163025.png);
    background-position: -765px -175px;
    _background-image: url(/assets/icons/102.ie6-man150806163025.png);
    _background-position: -759px -175px
}