

<!DOCTYPE HTML>
<html class="skin-dark">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>create</title>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/skin/28.css?max_age=19830212&d=20150525172555" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-151112170011.css?max_age=31536000" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-poster-comment-150512101535.css?max_age=31536000" rel="stylesheet"/>
      <link type="text/css" rel="stylesheet" href="../assets/css/icons.css" >

     <link type="text/css" rel="stylesheet" href="../bootstrap33/dist/css/bootstrap.css" />

      <style id="mainJSBg" type="text/css">
         .background-container {
         background-repeat: no-repeat;
         background-position: center top;
         background-attachment: scroll;
         background-image: url();
         }
         .bg-body {
         background-image: url();
         background-repeat: repeat;
         }
      </style>
      <style id="mainJSTitleBar" type="text/css">
         .layout-head-inner {height:220px;}
      </style>

       <style id="dynamic-form-fields" type="text/css">
           .entry:not(:first-of-type)
            {
                margin-top: 10px;
            }

            .glyphicon
            {
                font-size: 12px;
            }
       </style>

   </head>
   <body class="bg-body">
      <!-- nav bar -->
      <div class="top-fix-bar">
         <div class="top-fix-inner" >
            <div class="" id="QZ_Toolbar_Container">
               <div class="">
                  <ul class="top-nav">
                     <li class="nav-list" id="tb_ic_li">
                        <div class="nav-list-inner">
                           <a href="/templates/playlist.html" class="" x><i class="ui-icon icon-icenter"></i><span>Playlist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_index_li">
                        <div class="nav-list-inner">
                           <a href="" class="homepage-link a-link "><i class="ui-icon icon-homepage"></i><span>My Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_friend_li">
                        <div class="nav-list-inner">
                           <a href="" class="friends-link a-link"><i class="ui-icon icon-friend"></i><span>Home Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_app_li">
                        <div class="nav-list-inner">
                           <a href="" class="application-link a-link"><i class="ui-icon icon-application"></i><span>Popular Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_dress_li">
                        <div class="nav-list-inner">
                           <a href="" class="dress-up-link a-link" ><i class="ui-icon icon-dress-up"></i><span>Artist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_logout_li">
                        <div class="nav-list-inner">
                           <a href="{{url}}" class="logout-link a-link" ><i class="ui-icon icon-logout"></i><span>{{url_log}}</span></a>
                        </div>
                     </li>
                  </ul>
                  <!-- Search Box -->
                  <div class="top-search">
                     <div class="search-box">
                        <input class="search-input" type="text" placeholder="">
                        <a href="" class="search-button"><i class="ui-icon icon-search"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


<form action="/create" method="post">
    <div class="container">
        <h3>Create New Playlist</h3>
        <div class="row">
            <div class="col-lg-8">

                <div class="form-group">
                    <label>Name your playlist</label>
                    <div><input class="form-control" name="stream_name" size="20"></div>
                </div>

               <div class="form-group">
                    <label>URL to cover image (can be empty)</label>
                    <div><textarea class="form-control" name="image_url" rows="1" cols="45"></textarea></div>
                </div>

                <div class="form-group">
                  <label>Privacy</label>
                  <select name="privacy" class="form-control">
                    <option>Private</option>
                    <option>Public</option>
                  </select>
                </div>

                <div class="form-group">
                    <div class="control-group">
                        <label class="control-label">Music links from Youtube or SoundCloud</label>
                        <div class="controls">
                                <div class="entry input-group col-lg-12">
                                    <input class="form-control" name="music_links" type="text" placeholder="Link to Music" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add" type="button">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>

                        <!-- drop zone -->
                <div class="form-group">

                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>

                </div>
                <div class="form-group">
                    <div><input type="submit"  class="btn btn-info" value="Create Playlist"></div>
                </div>
        </div>

            </div>
        </div>
</form>

      <script type='text/javascript' src="../assets/js/jquery-2.1.4.js"></script>
      <script type="text/javascript">
        $(function()
        {
            $(document).on('click', '.btn-add', function(e)
            {
                e.preventDefault();

                var controlDiv = $('.controls'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlDiv);
                newEntry.find('input').val('');
                controlDiv.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
            }).on('click', '.btn-remove', function(e)
            {
                $(this).parents('.entry:first').remove();

                e.preventDefault();
                return false;
            });
        });
       </script>
   </body>
</html>

