<!DOCTYPE HTML>
<html class="skin-dark">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>homemusic</title>

              <link  href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" rel="stylesheet"/> >
      <link type="text/css" rel="stylesheet" href="../bootstrap33/dist/css/bootstrap.css" >
      <link href="http://os.qzonestyle.gtimg.cn/aoi/skin/28.css?max_age=19830212&d=20150525172555" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-151112170011.css?max_age=31536000" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-poster-comment-150512101535.css?max_age=31536000" rel="stylesheet"/>




      <link type="text/css" rel="stylesheet" href="../assets/css/icons.css" >



      <style id="mainJSBg" type="text/css">
         .background-container {
             background-repeat: no-repeat;
             background-position: center top;
             background-attachment: scroll;
             background-image: url();
         }
         .bg-body {
             background-image: url(../assets/images/Texture-background-xy-repeatable.jpg);
             background-repeat: repeat;
         }
      </style>
      <style id="mainJSTitleBar" type="text/css">
         .layout-head-inner {height:220px;}
      </style>

   </head>

   <body class="bg-body">
      <!-- nav bar -->
      <div class="top-fix-bar">
         <div class="top-fix-inner" >
            <div class="" id="QZ_Toolbar_Container">
               <div class="">
                  <ul class="top-nav">
                     <li class="nav-list" id="tb_ic_li">
                        <div class="nav-list-inner">
                           <a href="/templates/playlist.html" class="" x><i class="ui-icon icon-icenter"></i><span>Playlist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_index_li">
                        <div class="nav-list-inner">
                           <a href="" class="homepage-link a-link "><i class="ui-icon icon-homepage"></i><span>MyMusic</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_friend_li">
                        <div class="nav-list-inner">
                           <a href="" class="friends-link a-link"><i class="ui-icon icon-friend"></i><span>Home Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_app_li">
                        <div class="nav-list-inner">
                           <a href="" class="application-link a-link"><i class="ui-icon icon-application"></i><span>Popular Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_dress_li">
                        <div class="nav-list-inner">
                           <a href="" class="dress-up-link a-link" ><i class="ui-icon icon-dress-up"></i><span>Artist</span></a>
                        </div>
                     </li>
                    <li class="nav-list" id="tb_logout_li">
                        <div class="nav-list-inner">
                           <a href="{{url}}" class="logout-link a-link" ><i class="ui-icon icon-logout"></i><span>{{url_log}}</span></a>
                        </div>
                     </li>
                  </ul>

                  <!-- Search Box -->
                  <div class="top-search">
                     <div class="search-box">
                        <input class="search-input" type="text" placeholder="">
                        <a href="" class="search-button"><i class="ui-icon icon-search"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- background -->
      <div class="background-container">
         <div class="layout-head ">
            <div class="layout-head-inner" id="headContainer">
               <div class="head-info">
                  <h1 class="head-title" id="top_head_title"><span class="title-text ui-mr5">Octave</span>
                  </h1>
                  <div class="head-description">
                     <span class="description-text" id="QZ_Space_Desc">{{user_signature}}</span>
                  </div>
               </div>
               <div class="head-detail">
                  <div class="head-detail-name">
                     <span class="user-name textoverflow">{{user_name}}</span>
                  </div>
               </div>

            </div>
         </div>
         <div class="layout-nav">
            <div class="layout-nav-inner">
               <div class="head-avatar">
                  <a href="javascript:;">
                     <div class="head-dress"></div>
                     <img src="/assets/images/kobe.png" class="user-avatar"  />
                  </a>
               </div>
            </div>
         </div>

         <div class="layout-background">
            <div class="layout-body">
               <div id="pageContent" class="layout-page clearfix">
                  <div id="main_feed_container" class="col-main ">
                     <div class="col-main-feed">

                        <div id="feed_friend" >
                           <div class="fn-feed-container">
                              <div class="feed">
                                 <div class="feed_inner">
                                    <ul id="feed_friend_list">

                                        {% for i in range(posts|length) %}

                                            <li class="f-single f-s-s">
                                             <div class="f-aside">
                                               <div class="f-user-pto">
                                                <a href="javascript:" class="f-user-avatar q_namecard f-s-a" style="background-image: url(/assets/images/kobe.png);">
                                                </a>
                                             </div>
                                             <div class="f-user-info">
                                                <div class="f-nick">
                                                   <a class="f-name q_namecard ">{{user_name}}</a>
                                                   <a href="javascript:"class="f-sign-show state">{{user_role}}</a>
                                                </div>
                                                <div class="info-detail">
                                                   <span  class=" ui-mr8 state" >{{posts[i].date}}</span>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="f-wrap">
                                             <div class="f-item f-s-i">
                                                <div class="f-info">{{posts[i].text}}</div>
                                                <div class="qz_summary wupfeed">
                                                   <div class="f-ct f-ct-b-bg" >
                                                      <div class="f-ct-txtimg">

                                                          {% if posts[i].blob_key_media != None %}
                                                          <audio controls>

                                                       <source src="/view_media/{{posts[i].blob_key_media}}" type="audio/mp3">
 >

                                                          </audio>
                                                        {% endif %}
                                                         <div class="img-box img-box-row">


{#                                                         Music Cover Image    #}
{#                                                            <a href="javascript:;">#}
{#                                                            <img src="/assets/images/curry.png">#}
{#                                                            </a>#}
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="f-op-wrap">
                                                      <p class="f-detail">&nbsp;
                                                         <a href="javascript:;" style="height:30px;" class=" item  "><i class="ui-icon icon-forward"></i>share</a>
                                                         <span class="item-line"></span>
                                                        <a href="javascript:;" style="height:30px;" class=" item  "><i class="ui-icon icon-praise"></i>like</a>
                                                         <span class="item-line"></span>
                                                      </p>
                                                      <div class="mod-comments">
                                                            <div class="comments-list ">
                                                            <ul>


                                                               <li class="comments-item bor3">
                                                                   {% for j in range(replies[i]|length) %}


                                                                  <div class="comments-item-bd">
                                                                     <div class="ui-avatar"><a href="javascript:;"><img class="q_namecard" src="/assets/images/kobe.png" /></a></div>
                                                                     <div class="comments-content">
                                                                        &nbsp;<a class="c_tx q_namecard" href="javascript:;">{{user_name}}</a>&nbsp;: {{replies[i][j].reply}}
                                                                        <div class="comments-op">
                                                                            <span  class=" ui-mr10 state" >{{replies[i][j].date}}</span>
                                                                            <a class="act-reply" href="javascript:;">
                                                                                <b class="hide-clip">Reply</b>
                                                                            </a>
                                                                        </div>
                                                                     </div>
                                                                  </div>

                                                                    {%endfor%}

                                                                   <!-- comment box wrap -->
                                                                   <form id="form_{{i}}" method="post" action="/ajax_reply">

                                                                   <div class="comment-box-wrap">
                                                                       <div class="qz-poster bg qz-poster-show-setter qz-poster-active">
                                                                          <div class="qz-poster-inner ">

                                                                              <!-- textarea -->
                                                                             <div class="qz-poster-bd">
                                                                                <div class="qz-poster-editor-cont">
                                                                                   <div class="qz-inputer bor2" style="padding-right: 0px;" class="textinput textarea c_tx2">
                                                                                             <div id="qz_reply_editor_v4_container{{i}}" name="reply_text_{{i}}" class="textinput textarea c_tx2" contenteditable="true"></div>
                                                                                            <input type="hidden" name="reply_text_{{i}}" id="reply_data_field_{{i}}"/>

                                                                                   </div>
                                                                                </div>
                                                                             </div>


                                                                              <!-- Reply button -->
                                                                             <div class="qz-poster-ft">
                                                                                <div class="op">
                                                                                   <input type="submit" id="replyPost_{{i}}" name="replyPost" style="display: none;"/>
                                                                                    <a style="width: 80px;"class="btn-post gb_bt  evt_click" onclick="reply({{i}});">
                                                                                        <span  class="txt">Reply</span>
                                                                                    </a>
                                                                                </div>
                                                                             </div>
                                                                          </div>
                                                                       </div>
                                                                    </div>

                                                                    </form>
                                                               </li>
                                                            </ul>
                                                         </div>


                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>

                                        {%endfor%}
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- right hand side bar -->

                  </div>
                  <!-- left menu -->
               </div>
            </div>
            <div class="layout-copyright">
               <p>Copyright &copy; Ziyang Jiang, Ahmad Ei Youssef</p>
            </div>
         </div>
      </div>

      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/ac/qzone/qzfl/qzfl_v8_2.1.45.js" ></script>
      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/ac/lib/seajs/sea-2.1.1.js" ></script>
      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/c/=/qzone/v8/core/seajs_config.js,/qzone/v8/engine/plugin-combo.js,/qzone/v8/core/ic.js?max_age=31536001&amp;d=50108" ></script>
        <script type='text/javascript' src="../assets/js/jquery-2.1.4.js"></script>


      <script type="text/javascript">
           function chooseFile() {
              document.getElementById("fileInput").click();
           }
      </script>
      <script type="text/javascript">

          function submit() {
              var data = document.getElementById("qz_poster_editor_v4_container").textContent;
              document.getElementById("post_data_field").value = data;
              document.getElementById("submitPost").click();

           }
       </script>

      <script>
        // Attach a submit handler to the form
        $( "[id^='replyPost_']" ).click(function( event ) {

          // Stop form from submitting normally
          event.preventDefault();

          var count = this.id.slice(-1);

          // Get some values from elements on the page:

            var term = $("#reply_data_field_" + count).val();
            var url = $("#form_" + count).attr( "action" );
            var reply_text  = "reply_text_" + count;
            var toBackEnd = {};
            toBackEnd["post_nbr"] = count;
            toBackEnd["reply_text_" + count] = term;

          // Send the data using post

          var posting = $.post(url, toBackEnd);
          posting.done(function( data ) {

            var post_nbr = data["post_nbr"];
            var reply_text = data["reply_text"];
            var date_reply = data["date_reply"];
            var user_name = data["user_name"];

            var new_comment = '<div class="comments-item-bd"> \
             <div class="ui-avatar"><a href="javascript:;"><img class="q_namecard" src="/assets/images/kobe.png" /></a></div> \
             <div class="comments-content"> \
             &nbsp;<a class="c_tx q_namecard" href="javascript:;">' + user_name + '</a>&nbsp;: ' + reply_text + ' \
             <div class="comments-op"> \
             <span  class=" ui-mr10 state" >' + date_reply + '</span> \
             <a class="act-reply" href="javascript:;"> \
             <b class="hide-clip">Reply</b> \
             </div></a> \
              </div> \
              </div> \
            '

               $( "#form_" + post_nbr).before(new_comment);
               $("#qz_reply_editor_v4_container" + post_nbr).empty();
          });
        });
        </script>

      <script type="text/javascript">
              function reply(i) {
                  var data = document.getElementById("qz_reply_editor_v4_container" + i).textContent;
                  document.getElementById("reply_data_field_" + i).value = data;
                  document.getElementById("replyPost_" + i).click();
               }
       </script>


   </body>
</html>