<!DOCTYPE html>
{% autoescape true %}

<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=utf-8">

      <link type="text/css" rel="stylesheet" href="/bootstrap33/dist/css/bootstrap.css" >

        <style type="text/css">
                body {
                padding-top: 60px;
              }





              </style>

  {% block head_title %}

    <title>base</title>

    {% endblock %}

  </head>
  <body>

   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	   <p class="navbar-brand">Octave</p>
	  <div  style="margin: 1%;" class="pull-right">
	   <a href="{{url}}" class="btn btn-large btn-primary">{{url_log}}</a>
          </div>
        </div>
      </div>
    </div>
   <br>


  {% block main_content %}
<!--  TODO: Override this part in each child html -->

    {% endblock main_content %}


  </body>

</html>
{% endautoescape %}