
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<!-- Website Design By: www.happyworm.com -->
<title>Demo : jPlayer as video playlist and audio playlist players</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="The CSS styleable jQuery media player plugin with HTML5 support!" />
<meta name="keywords" content="jPlayer, jQuery, jQuery plugin, media, video, audio, media player, video player, audio player, mp3, mp4, m4a, m4v, aac, h264, ogg, oga, ogv, wav, webm" />
<meta name="company" content="Happyworm" />
<link href="/jplayer/css/jPlayer.css" rel="stylesheet" type="text/css" />
{#<link rel="shortcut icon" href="/graphics/jplayer.ico" type="image/x-icon" />#}
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link type="text/css" rel="stylesheet" href="/bootstrap33/dist/css/bootstrap.css" />
<link  type="text/css" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" rel="stylesheet"/>

<link href="http://os.qzonestyle.gtimg.cn/aoi/skin/28.css?max_age=19830212&d=20150525172555" rel="stylesheet"/>
<link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-151112170011.css?max_age=31536000" rel="stylesheet"/>
<link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-poster-comment-150512101535.css?max_age=31536000" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/assets/css/icons.css" >



<link href="/jplayer/css/prettify-jPlayer.css" rel="stylesheet" type="text/css" />
<link href="/jplayer/css/jplayer.pink.flag.min.css" rel="stylesheet" type="text/css" />


<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script type="text/javascript" src="/assets/js/jquery-dropzone.js"></script>
<script src="http://www.dropzonejs.com/js/build/build.js?v=6"></script>

<script type="text/javascript" src="/jplayer/js/jquery.min.js"></script>
<script type="text/javascript" src="/jplayer/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/jplayer/js/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/jplayer/js/jquery.jplayer.inspector.min.js"></script>
<script type="text/javascript" src="/jplayer/js/themeswitcher.js"></script>
     <script>
            var Dropzone = require("enyo-dropzone");
            Dropzone.autoDiscover = false;
        </script>

      <style id="mainJSBg" type="text/css">
         .background-container {
         background-repeat: no-repeat;
         background-position: center top;
         background-attachment: scroll;
         background-image: url();
         }
         .bg-body {
         background-image: url();
         background-repeat: repeat;
         }


      </style>
      <style id="mainJSTitleBar" type="text/css">
         .layout-head-inner {height:220px;}
      </style>
    <style>
h2 {
    display: block;
    font-size: 2.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:green;
    font-style: italic;

}
</style>



<script type="text/javascript">
//<![CDATA[


$(document).ready(function(){

    var video_name={{ names|safe }}
    var links_video={{ links|safe }}
    var keys={{ keys|safe }}
    var cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };
    var playlist_video=[];

    for(var media_nbr=0;media_nbr<{{size}};media_nbr++)
    {
        playlist_video[media_nbr]={

            title:video_name[media_nbr],
			m4v:"/view_media/" + links_video[media_nbr],
            keys:keys[media_nbr]

{#            flv :"https://youtu.be/lkRpAK3OtqQ"#}
		}

    }




    var myPlaylist_video= new jPlayerPlaylist(
        cssSelector,
        playlist_video,
         {
		playlistOptions: {
			enableRemoveControls: {{ self_delete }}
		},
		swfPath: "../dist/jplayer",
		supplied: "webmv, ogv, m4v, oga, mp3",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true,
		audioFullScreen: true
	});

{#    myPlaylist_video.remove()#}
{#    var audio_name={{ name_audio|safe }}#}
{#    var links_audio={{ links_audio|safe }}#}
{#    var cssSelector = { jPlayer: "#jquery_jplayer_2", cssSelectorAncestor:  "#jp_container_2" };#}
{#    var playlist_audio=[];#}
{#    for(var media_nbr=0;media_nbr<{{size_audio}};media_nbr++)#}
{#    {#}
{#        playlist_audio[media_nbr]={#}
{#			title:audio_name[media_nbr],#}
{#			mp3:"/view_media/" + links_audio[media_nbr]#}
{#		}#}
{##}
{#    }#}
{##}
{##}
{#	var myPlaylist_audio= new jPlayerPlaylist(#}
{#        cssSelector,#}
{#        playlist_audio,#}
{#        {#}
{#        playlistOptions: {#}
{#			enableRemoveControls: true#}
{#		},#}
{#        swfPath: "../dist/jplayer",#}
{#		supplied: "oga, mp3",#}
{#		wmode: "window",#}
{#		useStateClassSkin: true,#}
{#		autoBlur: false,#}
{#		smoothPlayBar: true,#}
{#		keyEnabled: true#}
{#	});#}


          $(function() {


              $('.jp-playlist').on('click', '.jp-playlist-item-remove', function () {
                  // Determine song index if necessary
                  console.log("DELETED")
                  var index = $(this).parents('li').index('.jp-playlist li');

                  // Retrieve song information, if necessary
                  var song = myPlaylist_video.playlist[index];
                  var toBackEnd = {};
                  var url='/manage'
                  toBackEnd["key_media"] = song.keys;

                  var posting = $.post(url, toBackEnd);


              });


          });

});

 //]]>


</script>

<!-- Flattr -->
<script type="text/javascript">
	/* Flattr code for jPlayer.org */
	(function() {
		var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
		s.type = 'text/javascript';
		s.async = true;
		s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
		t.parentNode.insertBefore(s, t);
	})();
</script>
<!-- End Flattr -->
<!-- Google Analytics -->
<script type="text/javascript">
	/* Google Analytics code for jPlayer.org */
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-3557377-9', 'jplayer.org');
	ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body class="demo" onload="prettyPrint();">

      <div class="top-fix-bar">
         <div class="top-fix-inner" >
            <div class="" id="QZ_Toolbar_Container">
               <div class="">
                  <ul class="top-nav">
                     <li class="nav-list" id="tb_ic_li">
                        <div class="nav-list-inner">
                           <a href="/playlist" class="" x><i class="ui-icon icon-icenter"></i><span>Playlist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_index_li">
                        <div class="nav-list-inner">
                           <a href="/MyMusic" class="homepage-link a-link "><i class="ui-icon icon-homepage"></i><span>MyMusic</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_friend_li">
                        <div class="nav-list-inner">
                           <a href="" class="friends-link a-link"><i class="ui-icon icon-friend"></i><span>Home Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_app_li">
                        <div class="nav-list-inner">
                           <a href="" class="application-link a-link"><i class="ui-icon icon-application"></i><span>Popular Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_dress_li">
                        <div class="nav-list-inner">
                           <a href="" class="dress-up-link a-link" ><i class="ui-icon icon-dress-up"></i><span>Artist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_logout_li">
                        <div class="nav-list-inner">
                           <a href="{{url}}" class="logout-link a-link" ><i class="ui-icon icon-logout"></i><span>{{url_log}}</span></a>
                        </div>
                     </li>
                  </ul>
                  <!-- Search Box -->
                  <div class="top-search">
                     <div class="search-box">
                        <input class="search-input" type="text" placeholder="">
                        <a href="" class="search-button"><i class="ui-icon icon-search"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- background -->
{#    <div class="container" id="" class="row">#}
{#              <div class="col-lg-7">#}
{##}
{#        <form action="{{ delete_music_handler_url }}" method="post" style="display: inline;">#}
{#            <h2>Music in Playlist: {{playlist_name}}</h2>#}
{#        </form>#}
{#              </div>#}
{#    </div>#}

<div id="container">

    <div id="content_main row">

            <h2>Music in Playlist: {{playlist_name}}</h2>

<div id="jp_container_1" class=" jp-video jp-video-270p"  role="application" aria-label="media player">
	<div class="jp-type-playlist">
		<div id="jquery_jplayer_1" class="jp-jplayer" ></div>
		<div class="jp-gui">
			<div class="jp-video-play">
				<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
			</div>
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
				<div class="jp-details">
					<div class="jp-title" aria-label="title">&nbsp;</div>
				</div>
				<div class="jp-controls-holder">
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">mute</button>
						<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
					<div class="jp-controls">
						<button class="jp-previous" role="button" tabindex="0">previous</button>
						<button class="jp-play" role="button" tabindex="0">play</button>
						<button class="jp-stop" role="button" tabindex="0">stop</button>
						<button class="jp-next" role="button" tabindex="0">next</button>
					</div>
					<div class="jp-toggles">
						<button class="jp-repeat" role="button" tabindex="0">repeat</button>
						<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
						<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
					</div>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<!-- The method Playlist.displayPlaylist() uses this unordered list -->
				<li>
                </li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>
    </div>
</div>

{#<div id="jquery_jplayer_2" class="jp-jplayer" ></div>#}
{#<div id="jp_container_2" class="jp-audio  col-md-4 col-lg-offset-2" style="weigth:100px;" role="application" aria-label="media player">#}
{#	<div class="jp-type-playlist">#}
{#		<div style="margin-left:-10px;" class="jp-gui jp-interface" >#}
{#			<div class="jp-volume-controls" >#}
{#				<button class="jp-mute" role="button" tabindex="0">mute</button>#}
{#				<button class="jp-volume-max" role="button" tabindex="0">max volume</button>#}
{#				<div style="margin-left:-7px;" class="jp-volume-bar">#}
{#					<div style="margin-left:-7px;" class="jp-volume-bar-value"></div>#}
{#				</div>#}
{#			</div>#}
{#			<div style="margin-left:-6px;" class="jp-controls-holder">#}
{#				<div style="margin-left:-5px;" class="jp-controls">#}
{#					<button  class="jp-previous" role="button" tabindex="0">previous</button>#}
{#					<button  class="jp-play" role="button" tabindex="0">play</button>#}
{#					<button  class="jp-stop" role="button" tabindex="0">stop</button>#}
{#					<button  class="jp-next" role="button" tabindex="0">next</button>#}
{#				</div>#}
{#				<div style="margin-left:-3px;" class="jp-progress">#}
{#					<div  class="jp-seek-bar">#}
{#						<div class="jp-play-bar"></div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>#}
{#				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>#}
{#				<div class="jp-toggles">#}
{#					<button class="jp-repeat" role="button" tabindex="0">repeat</button>#}
{#					<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="jp-playlist"  >#}
{#			<ul>#}
{#				<li>&nbsp;</li>#}
{#			</ul>#}
{#		</div>#}
{#		<div class="jp-no-solution">#}
{#			<span>Update Required</span>#}
{#			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{##}

    {% if is_self %}


{#<div class="container">#}

    <div id="actions"  class="container" >


        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button" style="margin-left:90px;margin-bottom:20px; margin-top:20px;">
            <i class="glyphicon glyphicon-plus" ></i>
            <span>Add files...</span>
        </span>
        <button type="submit" class="btn btn-primary start" style="margin-bottom:20px; margin-top:20px;">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel" style="margin-bottom:20px;margin-top:20px;">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>

        <button class="btn btn-info" style="margin-bottom:20px;margin-top:20px;">
            <a href="/manage?playlist={{playlist_name}}&key={{playlist_key}}" style="text-decoration:none;"><span>Update Playlist</span> </a>
        </button>


        <!-- The global file processing state -->
        <span  class="fileupload-process">
          <div  id="total-progress" class=" progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-left:90px;width:30%;">
            <div class="progress-bar progress-bar-success" style="width:0%" data-dz-uploadprogress></div>
          </div>
        </span>





<div class=" table table-striped"  class="files" id="previews">

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview" ><img data-dz-thumbnail /></span>
    </div>
    <div>
        <p class="name" data-dz-name  style= " margin-left:90px; margin-bottom:20px;"></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
        <p class="size" data-dz-size style="margin-left:90px; margin-bottom:20px;"></p>
        <div  class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-left:90px; width:30%;">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
        </div>

    <div>
      <button class="btn btn-primary start" style="margin-left:90px; margin-bottom:20px;">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start</span>
      </button>
      <button data-dz-remove class="btn btn-warning cancel" style="margin-bottom:20px;" >
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel</span>
      </button>
      <button data-dz-remove class="btn btn-danger delete" style="margin-bottom:20px;">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>

</div>
        </div>
    {%endif%}


       <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);

      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: '/', // Set the url
        acceptedFiles: 'audio/* , video/*',
        maxFilesize: 100,
        maxFiles: 100,
        parallelUploads: 100,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
      });


      myDropzone.on("addedfile", function(file) {
        // Hookup the start button

          console.log("adding file")
          var extension = file.name.substring(0,file.name.lastIndexOf('.'));
          console.log(extension);

          file.previewElement.querySelector(".start").onclick = function() {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/playlist_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          console.log(file.name)
                          myDropzone.enqueueFile(file);

                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });
                console.log("ENQUE file");


  };
      });

      // Update the total progress bar
      myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
      });

      myDropzone.on("sending", function(file) {


        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");

      });

      // Hide the total progress bar when nothing's uploading anymore
      myDropzone.on("queuecomplete", function(progress) {
        document.querySelector("#total-progress").style.opacity = "0";


      });

      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#actions .start").onclick = function() {

//          myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));

          var i;

          for (i=0;i<myDropzone.getFilesWithStatus(Dropzone.ADDED).length;i++) {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/playlist_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          myDropzone.enqueueFile(myDropzone.getFilesWithStatus(Dropzone.ADDED)[0]);

                          console.log("ENQUE file");
                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });


          }


      };
          document.querySelector("#actions .cancel").onclick = function () {
              myDropzone.removeAllFiles(true);
          };





    </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="/playlist/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/playlist/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/playlist/js/main.js"></script>




</body>
{#<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>#}
<script type="text/javascript" src="/jplayer/js/prettify-jPlayer.js"></script>

</html>
