<!DOCTYPE HTML>
<html class="skin-dark">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Script Tutorials" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- add styles and scripts -->

       <link href="/playlist/css/styles.css" rel="stylesheet" type="text/css" />



       <title>mymusic</title>
       <link href="http://os.qzonestyle.gtimg.cn/aoi/skin/28.css?max_age=19830212&d=20150525172555" rel="stylesheet"/>
       <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-151112170011.css?max_age=31536000" rel="stylesheet"/>
       <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-poster-comment-150512101535.css?max_age=31536000" rel="stylesheet"/>
       <link type="text/css" rel="stylesheet" href="/assets/css/icons.css" >
       <link  type="text/css" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" rel="stylesheet"/>



       <link type="text/css" rel="stylesheet" href="../bootstrap33/dist/css/bootstrap.css" />
       <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
       <script type="text/javascript" src="/assets/js/jquery-dropzone.js"></script>
       <script src="http://www.dropzonejs.com/js/build/build.js?v=6"></script>




       <script>
            var Dropzone = require("enyo-dropzone");
            Dropzone.autoDiscover = false;
        </script>

      <style id="mainJSBg" type="text/css">
         .background-container {
         background-repeat: no-repeat;
         background-position: center top;
         background-attachment: scroll;
         background-image: url();
         }
         .bg-body {
         background-image: url();
         background-repeat: repeat;
         }
      </style>
      <style id="mainJSTitleBar" type="text/css">
         .layout-head-inner {height:220px;}
      </style>



   </head>
   <body class="bg-body">
      <!-- nav bar -->
      <div class="top-fix-bar">
         <div class="top-fix-inner" >
            <div class="" id="QZ_Toolbar_Container">
               <div class="">
                  <ul class="top-nav">
                     <li class="nav-list" id="tb_ic_li">
                        <div class="nav-list-inner">
                           <a href="/playlist" class="" x><i class="ui-icon icon-icenter"></i><span>Playlist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_index_li">
                        <div class="nav-list-inner">
                           <a href="/MyMusic" class="homepage-link a-link "><i class="ui-icon icon-homepage"></i><span>MyMusic</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_friend_li">
                        <div class="nav-list-inner">
                           <a href="" class="friends-link a-link"><i class="ui-icon icon-friend"></i><span>Home Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_app_li">
                        <div class="nav-list-inner">
                           <a href="" class="application-link a-link"><i class="ui-icon icon-application"></i><span>Popular Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_dress_li">
                        <div class="nav-list-inner">
                           <a href="" class="dress-up-link a-link" ><i class="ui-icon icon-dress-up"></i><span>Artist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_logout_li">
                        <div class="nav-list-inner">
                           <a href="{{url}}" class="logout-link a-link" ><i class="ui-icon icon-logout"></i><span>{{url_log}}</span></a>
                        </div>
                     </li>
                  </ul>
                  <!-- Search Box -->
                  <div class="top-search">
                     <div class="search-box">
                        <input class="search-input" type="text" placeholder="">
                        <a href="" class="search-button"><i class="ui-icon icon-search"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- background -->
    <div class="container" id="actions" class="row">
              <div class="col-lg-7">

        <form action="{{ delete_music_handler_url }}" method="post" style="display: inline;">
            <h3>Music in Playlist: {{playlist_name}}</h3>
        </form>
              </div>
    </div>

        <!-- drop zone -->
    <div class="container example">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="cover"></div>
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew"></div>
                <div class="fwd"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>
        <ul class="playlist">
            {% for media_nbr in range(links_uploaded|length) %}
                <li audiourl="/view_media/{{links_uploaded[media_nbr]  }}" ><b>{{media_name[media_nbr]}}</b></li>
            {% endfor %}
        </ul>
    </div>

<br><br>
<div class="container">

    <div id="actions" >


        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button" style="margin-bottom:20px;">
            <i class="glyphicon glyphicon-plus" ></i>
            <span>Add files...</span>
        </span>
        <button type="submit" class="btn btn-primary start" style="margin-bottom:20px;">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel" style="margin-bottom:20px;">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>

        <button class="btn btn-info" style="margin-bottom:20px;">
            <a href="/manage?playlist={{playlist_name}}" style="text-decoration:none;"><span>Update Playlist</span> </a>
        </button>


        <!-- The global file processing state -->
        <span class="fileupload-process">
          <div id="total-progress" class=" progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:30%;">
            <div class="progress-bar progress-bar-success" style="width:0%" data-dz-uploadprogress></div>
          </div>
        </span>


    </div>




<div class=" table table-striped" class="files" id="previews">

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview" ><img data-dz-thumbnail /></span>
    </div>
    <div>
        <p class="name" data-dz-name  style= margin-bottom:20px;"></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
        <p class="size" data-dz-size style="margin-bottom:20px;"></p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:30%;">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
    <div>
      <button class="btn btn-primary start" style="margin-bottom:20px;">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start</span>
      </button>
      <button data-dz-remove class="btn btn-warning cancel" style="margin-bottom:20px;" >
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel</span>
      </button>
      <button data-dz-remove class="btn btn-danger delete" style="margin-bottom:20px;">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>

</div>

</div>

       <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);

      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: '/', // Set the url
        acceptedFiles: 'audio/* , video/*',
        maxFilesize: 100,
        maxFiles: 100,
        parallelUploads: 100,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
      });


      myDropzone.on("addedfile", function(file) {
        // Hookup the start button

          console.log("adding file")
          var extension = file.name.substring(0,file.name.lastIndexOf('.'));
          console.log(extension);

          file.previewElement.querySelector(".start").onclick = function() {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/playlist_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          console.log(file.name)
                          myDropzone.enqueueFile(file);

                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });
                console.log("ENQUE file");


  };
      });

      // Update the total progress bar
      myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
      });

      myDropzone.on("sending", function(file) {


        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");

      });

      // Hide the total progress bar when nothing's uploading anymore
      myDropzone.on("queuecomplete", function(progress) {
        document.querySelector("#total-progress").style.opacity = "0";


      });

      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#actions .start").onclick = function() {

//          myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));

          var i;

          for (i=0;i<myDropzone.getFilesWithStatus(Dropzone.ADDED).length;i++) {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/playlist_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          myDropzone.enqueueFile(myDropzone.getFilesWithStatus(Dropzone.ADDED)[0]);

                          console.log("ENQUE file");
                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });


          }


      };
          document.querySelector("#actions .cancel").onclick = function () {
              myDropzone.removeAllFiles(true);
          };





    </script>
              <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

                  <script type="text/javascript" src="/playlist/js/jquery-1.7.2.min.js"></script>
                  <script type="text/javascript" src="/playlist/js/jquery-ui-1.8.21.custom.min.js"></script>
                  <script type="text/javascript" src="/playlist/js/main.js"></script>



   </body>
</html>

