<!DOCTYPE HTML>
{% autoescape true %}

<html class="skin-dark">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>mymusic</title>
       <link type="text/css" rel="stylesheet" href="/bootstrap33/dist/css/bootstrap.css" />
      <link  type="text/css" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" rel="stylesheet"/>




        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link href="http://os.qzonestyle.gtimg.cn/aoi/skin/28.css?max_age=19830212&d=20150525172555" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-151112170011.css?max_age=31536000" rel="stylesheet"/>
      <link href="http://os.qzonestyle.gtimg.cn/aoi/icenter-poster-comment-150512101535.css?max_age=31536000" rel="stylesheet"/>




      <link type="text/css" rel="stylesheet" href="/assets/css/icons.css" >

       <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
       <script type="text/javascript" src="/assets/js/jquery-dropzone.js"></script>
       <script src="http://www.dropzonejs.com/js/build/build.js?v=6"></script>
       <script>
            var Dropzone = require("enyo-dropzone");
            Dropzone.autoDiscover = false;
        </script>

      <style id="mainJSBg" type="text/css">
         .background-container {
             background-repeat: repeat;
             background-position: center top;
             background-attachment: scroll;
             background-image: url();
         }
         .bg-body {
             background-image: url(../assets/images/Texture-background-xy-repeatable.jpg);
             background-repeat: repeat;
         }
      </style>
      <style id="mainJSTitleBar" type="text/css">
         .layout-head-inner {height:220px;}
      </style>

   </head>

   <body class="bg-body">

   <!-- modal popup for promotion -->
<div id="dialog-form" title="Promote Post">

  <form id="post_promote" method="post" action="/promote_post">
    <fieldset>
      <label>City</label>
      <input type="text" name="city" id="city" class="text ui-widget-content ui-corner-all">
        <br>
        <br>
      <label >Number of Users</label>
      <input type="text" name="num_users" id="num_users" class="text ui-widget-content ui-corner-all">


      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
         <!-- hidden input -->
      <div type="hidden" id="logged_user_email">{{logged_user.email}}</div>
   <div type="hidden" id="count"></div>
      <!-- nav bar -->
      <div class="top-fix-bar">
         <div class="top-fix-inner" >
            <div class="" id="QZ_Toolbar_Container">
               <div class="">
                  <ul class="top-nav">
                     <li class="nav-list" id="tb_ic_li">
                        <div class="nav-list-inner">
                           <a href="/playlist" class="" x><i class="ui-icon icon-icenter"></i><span>Playlist</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_index_li">
                        <div class="nav-list-inner">
                           <a href="/MyMusic" class="homepage-link a-link "><i class="ui-icon icon-homepage"></i><span>My Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_friend_li">
                        <div class="nav-list-inner">
                           <a href="/buddymusic" class="friends-link a-link"><i class="ui-icon icon-friend"></i><span>Buddy Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_app_li">
                        <div class="nav-list-inner">
                           <a href="/popularmusic" class="application-link a-link"><i class="ui-icon icon-application"></i><span>Popular Music</span></a>
                        </div>
                     </li>
                     <li class="nav-list" id="tb_dress_li">
                        <div class="nav-list-inner">
                           <a href="" class="dress-up-link a-link" ><i class="ui-icon icon-dress-up"></i><span>Artist</span></a>
                        </div>
                     </li>
                      <li class="nav-list" id="tb_create_li">
                        <div class="nav-list-inner">
                           <a href="/create_playlist" class="create-link a-link" ><i class="ui-icon icon-create"></i><span>Create Playlist</span></a>
                        </div>
                     </li>

                    <li class="nav-list" id="tb_logout_li">
                        <div class="nav-list-inner">
                           <a href="{{url}}" class="logout-link a-link" ><i class="ui-icon icon-logout"></i><span>{{url_log}}</span></a>
                        </div>
                     </li>

                  </ul>

                  <!-- Search Box -->
                   <form action="/search" method="get">
                      <div class="top-search">
                         <div class="search-box">
                            <input class="search-input" id="search_str" name="search_str" type="text" placeholder="" />
                            <input type="submit" id="search_button" name="search_button" style="display: none;"/>
                            <a onclick="search_user();" class="search-button">
                                <i class="ui-icon icon-search"></i>
                            </a>
                         </div>
                      </div>
                    </form>
               </div>
            </div>
         </div>
      </div>

      <!-- background -->
      <div class="background-container">
         <div class="layout-head ">
            <div class="layout-head-inner" id="headContainer">
               <div class="head-info">
                  <h1 class="head-title" id="top_head_title"><span class="title-text ui-mr5">My Music</span>
                  </h1>
                  <div class="head-description">
                     <span class="description-text" id="QZ_Space_Desc">{{logged_user.signature}}</span>
                  </div>
               </div>
               <div class="head-detail">
                  <div class="head-detail-name">
                     <span class="user-name textoverflow">{{logged_user.name}}</span>
                  </div>
               </div>

            </div>
         </div>
         <div class="layout-nav">
            <div class="layout-nav-inner">
               <div class="head-avatar">
                  <a href="javascript:;">
                     <div class="head-dress"></div>
                     <img src="/profile_img?email={{logged_user.email}}" class="user-avatar"  />
                      <div type="hidden" id="user_email">{{logged_user.email}}</div>
                  </a>
               </div>
            </div>
         </div>
         <div class="layout-background">
            <div class="layout-body">
               <div id="pageContent" class="layout-page clearfix">
                  <div id="main_feed_container" class="col-main ">
                     <div class="col-main-feed">

                         <form enctype="multipart/form-data" method="post" action="/MyMusic">

                            <div id="QM_Mood_Poster_Container">
                               <div id="QM_Mood_Poster_Inner" class="qz-poster bg b-test">
                                  <div class="qz-inputer bor2">

                                     <div id="qz_poster_editor_v4_container" class="textarea c_tx2" contenteditable="true">

                                     </div>
                                     <input type="hidden" name="post_text" id="post_data_field"/>

                                  </div>
                                  <!-- attach -->
                                  <div class="qz-poster-attach-side">
                                         <!-- submit post -->
                                         <div class="item bor3 bg4 item-other">
                                             <input type="submit" id="submitPost" name="submitPost" style="display: none;"/>
                                                <a style="height:60px;" onclick="submit();" class="">
                                                     <i class="icon icon-music"></i>
                                                </a>
                                             </div>
                                     </div>
                                  </div>
                               </div>
                         </form>

                                        <div id="actions" class="row">

                                          <div class="container qz-poster">
                                            <!-- The fileinput-button span is used to style the file input field as button -->

                                            <button class="poster-skin-box fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Add</span>
                                            </button>
                                            <button type="submit" class="poster-skin-box start">
                                                <i class="glyphicon glyphicon-upload"></i>
                                                <span>upload</span>
                                            </button>
                                            <button type="reset" class="poster-skin-box cancel">
                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                <span>Cancel</span>
                                            </button>
                                          </div>

                                          <div class="col-lg-5" style="display: none;">
                                            <!-- The global file processing state -->
                                            <span class="fileupload-process">
                                              <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                              </div>
                                            </span>
                                          </div>

                                        </div>


                                    <div class="table table-striped" class="files" id="previews" >

                                      <div id="template" class="file-row">
                                        <!-- This is used as the file preview template -->
                                        <div>
                                            <span class="preview"><img data-dz-thumbnail /></span>
                                        </div>
                                        <div>
                                            <p class="name" data-dz-name></p>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>
                                        <div>
                                            <p class="size" data-dz-size></p>
                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                            </div>
                                        </div>
                                        <div>
                                          <button class="poster-skin-box start " style="display: none;">
                                              <i class="glyphicon glyphicon-upload"></i>
                                              <span>Start</span>
                                          </button>
                                          <button data-dz-remove class="poster-skin-box cancel" style="display: none;">
                                              <i class="glyphicon glyphicon-ban-circle"></i>
                                              <span>Cancel</span>
                                          </button>
                                          <button data-dz-remove class="poster-skin-box delete" style="display: none;">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                          </button>
                                        </div>

                                      </div>

                                    </div>

                        <div id="feed_friend" >
                           <div class="fn-feed-container">
                              <div class="feed">
                                 <div class="feed_inner">
                                    <ul id="feed_friend_list">

                                        {% for i in range(post_user_reply|length) %}

                                            <li class="f-single f-s-s">
                                             <div class="f-aside">
                                               <div class="f-user-pto">
                                                <a href="/search?search_str={{post_user_reply[i][1].name}}" class="f-user-avatar q_namecard f-s-a" style="background-image: url(/profile_img?email={{post_user_reply[i][1].email}});">
                                                </a>
                                             </div>
                                             <div class="f-user-info">
                                                <div class="f-nick">
                                                   <a href="/search?search_str={{post_user_reply[i][1].name}}" class="f-name q_namecard ">{{post_user_reply[i][1].name}}</a>
                                                   <a href="javascript:"class="f-sign-show state">{{post_user_reply[i][1].role}}</a>
                                                </div>
                                                <div class="info-detail">
                                                   <span  class=" ui-mr8 state" >{{post_user_reply[i][0].date}}</span>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="f-wrap">
                                             <div class="f-item f-s-i">
                                                <div class="f-info">{{post_user_reply[i][0].text}}</div>
                                                <div class="qz_summary wupfeed">
                                                   <div class="f-ct f-ct-b-bg" >
                                                      <div class="f-ct-txtimg">

                                                          {% if post_user_reply[i][0].blob_key_media != None %}


                                                          {%  if media_types[i]=="audio" %}
                                                            <audio controls>

                                                                <source src="/view_media/{{post_user_reply[i][0].blob_key_media}}" type="audio/mp3">
 >

                                                           </audio>

                                                              {% else %}


                                                              <video width="410" height="238" controls>
                                                                      <source src="/view_media/{{post_user_reply[i][0].blob_key_media}}" type="video/mp4">
                                                              </video>



                                                        {% endif %}


                                                          {% endif %}

                                                      {%  if links[i]!="" %}

                                                            <iframe width="420" height="345"
                                                            src="{{links[i]}}">
                                                            </iframe>
                                                        {% endif %}



                                                         <div class="img-box img-box-row">


{#                                                         Music Cover Image    #}
{#                                                            <a href="javascript:;">#}
{#                                                            <img src="/assets/images/curry.png">#}
{#                                                            </a>#}
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="f-op-wrap">
                                                      <p class="f-detail">&nbsp;
                                                        <!-- if artist and posts is his own -->
                                                          {% if is_artist and not post_user_reply[i][4] and not post_user_reply[i][8] %}

                                                          <a style="height:30px;" id="promote_icon{{i}}" class="item"><i class="ui-icon icon-feed-collect"></i>{{post_user_reply[i][7]}}</a>
                                                         <span class="item-line"></span>
                                                        {% endif %}

                                                        <!-- if posts promoted from others -->
                                                          {% if post_user_reply[i][8] %}
                                                          <a style="height:30px;" class="item"><i class="ui-icon icon-feed-collect"></i>{{post_user_reply[i][9]}}</a>
                                                         <span class="item-line"></span>

                                                            {% endif %}
                                                          <!-- if posts shared from others-->
                                                        {% if post_user_reply[i][4] %}
                                                       <a style="height:30px;" id="share_icon{{i}}" class=" item  "><i class="ui-icon icon-forward"></i>{{post_user_reply[i][5]}}</a>
                                                         <span class="item-line"></span>
                                                          {% endif %}

                                                        <a onclick="like_icon({{i}});" style="height:30px;" id="like_icon{{i}}" class="item"><i class="ui-icon icon-praise"></i>like ({{post_user_reply[i][0].likes}})</a>
                                                         <span class="item-line"></span>


                                                       <!--<form id="post_promote{{i}}" method="post" action="/promote_post">-->
                                                          <!--<input type="submit" id="promote_like_input_{{i}}" style="display: none;"/>-->
                                                        <!--</form>-->



                                                        <form id="post_like{{i}}" method="post" action="/like_post">
                                                          <input type="submit" id="post_like_input_{{i}}" style="display: none;"/>
                                                        </form>
                                                       <div type="hidden" style="display:None;" id="post_key_{{i}}">
                                                           {{post_user_reply[i][0].key.urlsafe()}}
                                                       </div>
                                                      </p>
                                                      <div class="mod-comments">
                                                            <div class="comments-list ">
                                                            <ul>


                                                               <li class="comments-item bor3">
                                                                   {% for j in range(post_user_reply[i][2]|length) %}


                                                                  <div class="comments-item-bd">
                                                                     <div class="ui-avatar"><a href="/search?search_str={{post_user_reply[i][3][j].name}}"><img class="q_namecard" src="/profile_img?email={{post_user_reply[i][3][j].email}}" /></a></div>
                                                                     <div class="comments-content">
                                                                        &nbsp;<a class="c_tx q_namecard" href="/search?search_str={{post_user_reply[i][3][j].name}}">{{post_user_reply[i][3][j].name}}</a>&nbsp;: {{post_user_reply[i][2][j].reply}}
                                                                        <div class="comments-op">
                                                                            <span  class=" ui-mr10 state" >{{post_user_reply[i][2][j].date}}</span>
                                                                            <a class="act-reply" href="javascript:;">
                                                                                <b class="hide-clip">Reply</b>
                                                                            </a>
                                                                        </div>
                                                                     </div>
                                                                  </div>

                                                                    {%endfor%}

                                                                   <!-- comment box wrap -->
                                                                   <form id="form_{{i}}" method="post" action="/search_ajax_reply">

                                                                   <div class="comment-box-wrap">
                                                                       <div class="qz-poster bg qz-poster-show-setter qz-poster-active">
                                                                          <div class="qz-poster-inner ">

                                                                              <!-- textarea -->
                                                                             <div class="qz-poster-bd">
                                                                                <div class="qz-poster-editor-cont">
                                                                                   <div class="qz-inputer bor2" style="padding-right: 0px;" class="textinput textarea c_tx2">
                                                                                             <div id="qz_reply_editor_v4_container{{i}}" name="reply_text_{{i}}" class="textinput textarea c_tx2" contenteditable="true"></div>
                                                                                            <input type="hidden" name="reply_text_{{i}}" id="reply_data_field_{{i}}"/>

                                                                                   </div>
                                                                                </div>
                                                                             </div>


                                                                              <!-- Reply button -->
                                                                             <div class="qz-poster-ft">
                                                                                <div class="op">
                                                                                   <input type="submit" id="replyPost_{{i}}" name="replyPost" style="display: none;"/>
                                                                                    <a style="width: 80px;"class="btn-post gb_bt  evt_click" onclick="reply({{i}});">
                                                                                        <span  class="txt">Reply</span>
                                                                                    </a>
                                                                                </div>
                                                                             </div>
                                                                          </div>
                                                                       </div>
                                                                    </div>

                                                                    </form>
                                                               </li>
                                                            </ul>
                                                         </div>


                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>

                                        {%endfor%}
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- right hand side bar -->
                  </div>
                  <!-- left menu -->
                   <div id="leftMenu" class="col-menu">
                     <div class="mod-side-nav mod-side-nav-message">
                        <div class="inner">
                           <div class="bd">
                              <ul id="tab_menu_list" class="sn-list">
                                 <li type="friend">
                                    <a href="javascript:;" class="qz-grid">
                                       <div class="qz-main"><span class="sn-title">You might like:</span></div>
                                    </a>
                                 </li>
                                  {% for user in top_k_users %}
                               <li type="friend">
                                    <a href="/search?search_str={{user.name}}" class="qz-grid">
                                       <div class="qz-left"><i class="ui-icon sp-friend-feed"></i></div>
                                       <div class="qz-main"><span class="sn-title">{{user.name}}</span></div>
                                    </a>
                                 </li>
                                    {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="layout-copyright">
               <p>Copyright &copy; Ziyang Jiang, Ahmad El Youssef</p>
            </div>
         </div>
      </div>

      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/ac/qzone/qzfl/qzfl_v8_2.1.45.js" ></script>
      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/ac/lib/seajs/sea-2.1.1.js" ></script>
      <script type="text/javascript" src="http://os.qzonestyle.gtimg.cn/c/=/qzone/v8/core/seajs_config.js,/qzone/v8/engine/plugin-combo.js,/qzone/v8/core/ic.js?max_age=31536001&amp;d=50108" ></script>
        <script type='text/javascript' src="/assets/js/jquery-2.1.4.js"></script>



      <script type="text/javascript">
           function chooseFile() {
              document.getElementById("fileInput").click();
           }
      </script>

      <script type="text/javascript">
          function submit() {
              var data = document.getElementById("qz_poster_editor_v4_container").textContent;
              document.getElementById("post_data_field").value = data;
              document.getElementById("submitPost").click();
           }
       </script>


      <!-- like post -->
      <script type="text/javascript">
       // Attach a submit handler to the form
        $( "[id^='post_like_input_']" ).click(function( event ) {
          event.preventDefault();
          var count = this.id.slice(-1);
          var post_key = $("#post_key_" + count).html()
          var url = $("#post_like" + count).attr( "action" );
          var toBackEnd = {};
          toBackEnd["post_key"] = post_key;
          var posting = $.post(url, toBackEnd);
          posting.done(function( data ) {
             $("#like_icon" + count).empty();
             var insert_html = '<i class="ui-icon icon-praise"></i>like (' + data['like_nbr'] + ')';
             $("#like_icon" + count).html(insert_html);
          });
        });
      </script>

        <script type="text/javascript">
              function like_icon(i) {
                  document.getElementById("post_like_input_" + i).click();
               }
       </script>

       <script type="text/javascript">
        // Attach a submit handler to the form
        $( "[id^='replyPost_']" ).click(function( event ) {
          // Stop form from submitting normally
          event.preventDefault();
          var count = this.id.slice(-1);
          // Get some values from elements on the page:
            var reply_text = $("#reply_data_field_" + count).val();
            var url = $("#form_" + count).attr( "action" );
            var post_key = $("#post_key_" + count).html()
            var logged_user_email = $("#logged_user_email").html()
            var toBackEnd = {};
            toBackEnd["post_nbr"] = count;
            toBackEnd["reply_text"] = reply_text;
            toBackEnd["post_key"] = post_key;
          // Send the data using post
          var posting = $.post(url, toBackEnd);
          posting.done(function( data ) {
            var reply_text = data["reply_text"];
            var date_reply = data["date_reply"];
            var user_name = data["user_name"];
            var new_comment = '<div class="comments-item-bd"> \
             <div class="ui-avatar"><a href="javascript:;"><img class="q_namecard" src="/profile_img?email=' + logged_user_email + '"/></a></div> \
             <div class="comments-content"> \
             &nbsp;<a class="c_tx q_namecard" href="javascript:;">' + user_name + '</a>&nbsp;: ' + reply_text + ' \
             <div class="comments-op"> \
             <span  class=" ui-mr10 state" >' + date_reply + '</span> \
             <a class="act-reply" href="javascript:;"> \
             <b class="hide-clip">Reply</b> \
             </div></a> \
              </div> \
              </div> \
            '
               $( "#form_" + count).before(new_comment);
               $("#qz_reply_editor_v4_container" + count).empty();
          });
        });
        </script>

      <script type="text/javascript">
              function reply(i) {
                  var data = document.getElementById("qz_reply_editor_v4_container" + i).textContent;
                  document.getElementById("reply_data_field_" + i).value = data;
                  document.getElementById("replyPost_" + i).click();
               }
       </script>

      <!-- search -->
      <script type="text/javascript">
              function search_user() {
                  document.getElementById("search_button").click();
               }
       </script>

      <!-- autocomplete -->
      <script src="/assets/js/jquery-ui.js"></script>
      <script type="text/javascript">
            $(document).ready(function() {
                var cache = {};
                $(document).tooltip();
                $("#search_str").autocomplete({
                    minLength: 1,
                    autoFocus: true,
                    source: function(request, response) {
                        var term = request.term;
                        if (term.trim() == '')
                            return;
                        if (term in cache) {
                            response(cache[term]);
                            return;
                        }
                        $.getJSON("autocomplete", request, function(data, status, xhr) {
                            cache[term] = data.user_names;
                            response(data.user_names);
                        });
                    }
                });
            });
      </script>

    <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);
      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: '/', // Set the url
        acceptedFiles: 'audio/*, video/*',
        maxFilesize: 100,
        maxFiles: 1,
        parallelUploads: 100,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
      });
      myDropzone.on("addedfile", function(file) {
        // Hookup the start button
          console.log("adding file")
          file.previewElement.querySelector(".start").onclick = function() {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/media_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          myDropzone.enqueueFile(file);
                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });
                console.log("ENQUE file");
  };
      });
      // Update the total progress bar
      myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
      });
      myDropzone.on("sending", function(file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
      });
      // Hide the total progress bar when nothing's uploading anymore
      myDropzone.on("queuecomplete", function(progress) {
        document.querySelector("#total-progress").style.opacity = "0";
      });
      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#actions .start").onclick = function() {
//          myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
          var i;
          for (i=0;i<myDropzone.getFilesWithStatus(Dropzone.ADDED).length;i++) {
              $.ajax({
                  type: 'POST',                            // http method
                  url: '/media_url',               // target URL
                  success: function (serverResp) {          // on ajax success
                      if (serverResp.code == '200') {
                          console.log('image added successfully!');
                          myDropzone.options.url = serverResp.response;
                          console.log(myDropzone.options.url);
                          myDropzone.enqueueFile(myDropzone.getFilesWithStatus(Dropzone.ADDED)[0]);
                          console.log("ENQUE file");
                      }
                      else {
                          console.log('detective already exists!');
                      }
                  },
                  error: function (serverResp) {            // on ajax failure
                      console.log('5xx http status code or unexpected response content');
                  }
              });
          }
      };
          document.querySelector("#actions .cancel").onclick = function () {
              myDropzone.removeAllFiles(true);
          };
    </script>


<script type="text/javascript">
  $(function() {
    var dialog, form,
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }
    function promote_post() {
         var count = $("#count").html();
          var post_key = $("#post_key_" + count).html()
          var url = "/promote_post";
          var city = $('#city').val();
          var num_users = $('#num_users').val()
          dialog.dialog( "close" );
          var toBackEnd = {};
          toBackEnd["post_key"] = post_key;
          toBackEnd["city"] = city;
          toBackEnd["num_users"] = num_users;
          var posting = $.post(url, toBackEnd);
          posting.done(function( data ) {
             $("#promote_icon" + count).empty();
             var insert_html = '<i class="ui-icon icon-feed-collect"></i>' + data['promote_status']
             $("#promote_icon" + count).html(insert_html);
          });
    }
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Promote": promote_post,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      promote_post();
    });
    $( "[id^='promote_icon']" ).click(function( event ) {
          event.preventDefault();
        var count = this.id.slice(-1);
          var post_key = $("#post_key_" + count).html()
        $("#count").empty();
         $("#count").html(count);
         dialog.dialog( "open" );
    });
  });
  </script>
      <script type="text/javascript">
       // Attach a submit handler to the form
        $( "[id^='promote_like_input_']" ).click(function( event ) {
          event.preventDefault();
          alert("entered")
        });
      </script>

        <script type="text/javascript">
              function promote_icon(i) {
                  document.getElementById("promote_like_input_" + i).click();
               }
       </script>
   </body>
</html>
{% endautoescape %}
